<header class="main-nav">
	<nav class="left-nav">
		<ul>
			<li id="sections-sidebar-btn" class="highlight">
				<i class="fa fa-bars"></i>
				<span>sections</span>
			</li>
			<li id="search-modal-btn" class="highlight">
				<i class="fa fa-search"></i>
				<span>search</span>
			</li>
		</ul>
	</nav>
  <nav class="right-nav">
    <ul>
      <li><button type="button" name="button" class="log-btn">Subscribe Now</button></li>
      <li><button type="button" name="button" class="log-btn">Log In</button></li>
      <li class="highlight"><i class="fa fa-cog"></i></li>
    </ul>
  </nav>
</header>